<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body
    class="d-flex flex-column justify-content-between h-100 text-center text-bg-dark"
  >
    <%- include('partials/navbar') %>
    <main class="px-3">
      <section class="mt-5 pt-5 text-center container">
        <div class="row py-lg-5">
          <div class="mt-5 col-lg-6 col-md-8 mx-auto">
            <h1 class="mb-4">Get <span class="text-warning">in Touch</span></h1>
            <p class="lead">
              Please send me a message on your preferred platform and I will get
              back to you shortly. For more information, please do not hesitate
              to contact me.
            </p>
          </div>
        </div>
        <div class="d-grid gap-4 col-4 mx-auto mt-3">
          <a
            href="mailto:micahvillaruz@pm.me"
            target="_blank"
            class="btn btn-light fw-bold"
          >
            <i class="bi bi-envelope-fill me-1"></i> Email
          </a>
          <a
            href="https://discordapp.com/users/749139715680108657"
            target="_blank"
            class="btn btn-light fw-bold"
          >
            <i class="bi bi-discord me-1"></i> Discord
          </a>
          <a
            href="https://github.com/micahvllz"
            target="_blank"
            class="btn btn-light fw-bold"
          >
            <i class="bi bi-github me-1"></i> Github
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
